/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #525E51;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #525E51;
}

header {
    text-align: center;
}


body {
    background-color: #B7CFB7;
}

form {
    padding: 42px;
    background-color: #CCE2CB;
    border: none;
    border-radius: 22px;
    
}
/*
main {
   /* padding: 46px;*/
   /* display: flex;
}


aside {
    padding: 46px;
}

/*
.button {
    height: 45px;
    width: 101px;
    border: none;
    border-radius: 10px;
   /* margin-top: 32px;
    margin-bottom: 10px; */
/*}
/*
.form-btn-container {
    margin-top: 32px;
    margin-bottom: 10px;

}

.bg-hitungBMI {
    background-color: #525E51;
}

.bg-reset {
    background-color: #B7CFB7;
    color: white;
}
/*
input[type=number], select {
    width: 100%;
    height: 73px;
    padding: 12px 20px; 
    margin: 8px 0;
    display: inline-block; 
    border: none;
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 20px;
  }
  
  footer {
    text-align: center;
  }

  .button {
    font-family: "Poppins", sans-serif;
    font-size: 14px;

  }  
*/

/*------------------------------Font Style-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

th {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

td {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #525E51;
    background-color: #B7CFB7;
  }
   /*----------Kalkulator BMI----------*/
.container {
    margin: 20px;
  } 
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 960px;
    height: 80px;
    margin: 10px;
    font-size: 20px;
    margin: 20px;
  }
  
.sidebar {
    justify-content: top;
    align-items: top;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 900px;
    height: 670px;
    width: 630px;
    padding: 42px;
    background-color: #CCE2CB;
    border: none;
    border-radius: 20px;
  }
/*--------------------------------------------Button---------------------------------------*/
.button {
    height: 45px;
    width: 101px;
    border: none;
    border-radius: 10px;
   margin-top: 32px;
    margin-bottom: 10px;
}

.bg-hitungBMI {
    font-family: "Poppins", sans-serif;
    background-color: #525E51;
    color: white;
}

.bg-reset {
    font-family: "Poppins", sans-serif;
    background-color: #B7CFB7;
    color: white;
}

input[type=number], select {
    width: 100%;
    height: 73px;
    padding: 12px 20px; 
    margin: 8px 0;
    display: inline-block; 
    border: none;
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 20px;
  }
  
.content {
    display: flex;
    justify-content: center;
    align-items: top;
    background: #CCE2CB;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 900px;
    height: 418px;
    width: 630px;
    margin: 10px;
    border-radius: 20px;
  }

  /*.reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14BCE6;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 900px;
    height: 212px;
    width: 625px;
    margin: 10px;
    border-radius: 10px;
  }  */
  
.form-informasi {
    display: flex;
    justify-content: center;
    align-items: top;
    background: #CCE2CB;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 1900px;
    height: 511px;
    margin: 10px;
    border-radius: 10px;

  }

.apa-itu-bmi {
    display: flex;
    justify-content: left;
    align-items: top;
    background: #CCE2CB;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 1900px;
    height: 613px;
    width: 1349px;
    margin: 10px;
    border-radius: 20px;
  } 

table {
    justify-content: center;
    align-items: center;
    text-align: center;

  }




  